@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #FFCE22;
        --primary-hover: #FFD84D;
        --secondary: #1F2128;
    }
}

html {
    font-family: 'Montserrat', sans-serif;
}